<div id="yyadmin_content_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">健身卡管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">健身卡列表</li>
        </ol>
    </nav>
</div>
<div id="yyadmin_content_main" class="yyadmin-content-main">
   
    <div class="title">
            <div class="tag " data-show="1" ><a href="index">健身卡</a></div>
            <div class="tag active" data-show="0"><a href="gym-course">健身卡綁課</a></div>
    </div>
    <div class="component-body">
        <div id="searchBlock" etype="search" listId="list"></div>
        <div id="list" etype="list" datalist="pagingByGymCardsCourseManagement" config="yy.app.listConfig" loadingImg="true" selector="none" ></div>
    </div>
</div>