<div id="yyadmin_content_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">課程管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">課程詳情</li>
        </ol>
    </nav>
</div>


<div id="yyadmin_content_main" class="yyadmin-content-main">
    <div class="component-body">
        <div class="rule-content">
            <form class="form rule-config" novalidate="true">

                <div class="rule-config-line">
                    <div class="rule-block rule-All-block">
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>課程圖片：</label>
                            <img id='image' name='image' />

                            <div class="clear"></div>
                        </div>
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>課程名稱：</label>
                            <label class="left" id="name" name='name'></label>
                            <div class="clear"></div>
                        </div>
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>課程分級：</label>
                            <label class="left" id="courseLevel" >T<span name='courseLevel'></span>课程</label>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>是否高價課：</label>
                            <label class="left" id="isHightPrice" ><span name='isHightPrice'>否</span></label>
                            <div class="clear"></div>
                        </div>
                        
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>單課價：</label>
                            <label class="left" id="unitPrice" name=''><span name='unitPrice'></span>圓</label>
                            <div class="clear "></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>課程時長：</label>
                            <label class="left" id="durationTime" ><span name='durationTime'></span>分鐘</label>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>課程綁卡：</label>
                            <div class="left lef1" id="fitnessCards" name='fitnessCards'></div>
                            <div class="clear"></div>
                        </div>                       

                        <div class="rule-bar">
                            <label class="left" for="">課程詳情：</label>
                            <label class="left lef1"  id="detail" name='detail'></label>
                            <div class="clear"></div>
                        </div>

                        <p id="pid"></p>
                    </div>
                </div>



               
            </form>
        </div>
    </div>
</div>