<div id="yyadmin_content_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">會員管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">會員列表</li>
        </ol>
    </nav>
</div>

<div id="yyadmin_content_main" class="yyadmin-content-main">
    <div class="component-body">
        <div id="searchBlock" etype="search" listId="list"></div>
        <div id="list" etype="list" datalist="listMemberFitnessCardsPaging" config="yy.app.listConfig" loadingImg="true" selector="none" ></div>
    </div>
</div>