<div id="yyadmin_content_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">场馆管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">场馆列表</li>
        </ol>
    </nav>
</div>


<div id="yyadmin_content_main" class="yyadmin-content-main">
    <div class="component-header">
        <a class="btn btn-primary create-group" href="index">場館列表</a>
        <a class="btn btn-primary create-group" href="place">場地列表</a>
    </div>
    <div class="component-body">
        <div class="rule-content">
            <form class="form rule-config" novalidate="true">

                <div class="rule-config-line">
                    <div class="rule-block rule-All-block">
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>場館圖片：</label>
                            <div class="selectImg">
                                <img name='image' />
                                <input type="hidden" class="UploadFileUrl" name='image' />
                                <span>+</span>
                            </div>
                            <div class="selectImg">
                                <img name='image' />
                                <input type="hidden" class="UploadFileUrl" name='image' />
                                <span>+</span>
                            </div>
                            <div class="selectImg">
                                <img name='image' />
                                <input type="hidden" class="UploadFileUrl" name='image' />
                                <span>+</span>
                            </div>
                            <div class="selectImg">
                                <img name='image' />
                                <input type="hidden" class="UploadFileUrl" name='image' />
                                <span>+</span>
                            </div>
                            <div class="selectImg">
                                <img name='image' />
                                <input type="hidden" class="UploadFileUrl" name='image' />
                                <span>+</span>
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>場館名稱：</label>
                            <label class="middle-input left" type="text" name="name" value="" placeholder="請填寫場館名稱" />
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>電話：</label>
                            <label class="middle-input left" type="text" name="telephone" value="" placeholder="請填寫場館名稱" />

                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar adress">
                            <label class="left" for=""><span class="red">*</span>地址：</label>
                            <label class="middle-input left" type="text" name="area" value="" placeholder="請填寫場館名稱" />
                            <label class="middle-input left" type="text" name="city" value="" placeholder="請填寫場館名稱" />
                            <label class="middle-input left" type="text" name="country" value="" placeholder="請填寫場館名稱" />
                           
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>詳細地址：</label>
                            <label class="middle-input left" type="text" name="address" value="" placeholder="請填寫詳細地址"/>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>營業面積：</label>
                            <label class="middle-input left" type="text" name="workspaceSize" value=""
                                placeholder="請填寫營業面積（單位：平方米）"/>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>Email：</label>
                            <label class="middle-input left" type="text" name="mail" value="" placeholder="請輸入負責人手機號"/>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for="">場館介紹：</label>
                            <label placeholder="請填寫場館介紹" name="describe" style="    width: 90%;text-align: left;"></label>
                            <div class="clear"></div>
                        </div>


                        <div class="rule-bar">
                            <label class="left heg" for=""><span class="red"></span>營業時間：</label>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="weekListend">
                                
                            </div>
                            <div class="clear"></div>
                        </div>



                    </div>
                </div>



               
            </form>
        </div>
    </div>
</div>